body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  aspect-ratio: 1080 / 1920;
  /* 다른 브라우저 호환성을 위한 추가 속성 */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer
}

div#container {
  position: relative;
  max-width: 100%;
  height: 100%;
  min-height: max-content;
  margin: 0;
  padding: 0;
}

div#header {
  display: flex;
  justify-content: flex-start;
  height: auto;
  position: relative;
  margin-bottom: 70px;
  padding: 30px;
}

#header img {
  width: 300px;
}

/* Title & Thumb */
#title-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 70px;
}

#title-area h1 {
  font-family: var(--hahmlet);
  font-size: 74px;
  color: var(--font-white);
  z-index: 2;
  /*text-shadow: 0 0 20px rgba(0,0,0,0.6);*/
}

#title-area h1:after {
  content: '';
  width: 650px;
  height: 650px;
  background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(53, 53, 53, 0.80) 2.60%, rgba(79, 70, 61, 0.00) 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#cover {
  position: absolute;
  width: 100%;
  height: 1080px;
  top: 0;
  left: 0;
  z-index: -1;
  box-sizing: border-box;
}

#cover img {
  padding: 0 70px;
  box-sizing: border-box;
}

#cover #video-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: opacity(0.6) sepia(0.4);
}

#cover #video-bg video {
  border-radius: var(--right-coner-radius);
}

/* List */
div#list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 70px;
  padding: 0 70px;
}

div.song.amplitude-song-container {
  aspect-ratio: 265 / 525;
  border-radius: var(--border-radius--default);
}

div#list div.song {
  background-size: cover;
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

div#list div.song.selected {
  transform: translateY(-20px);
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.15);
  border: 1px solid black;
}

div[data-amplitude-song-index="0"] {
  background: url("../img/thumb-1.jpg") no-repeat center;
}

div[data-amplitude-song-index="1"] {
  background: url("../img/thumb-2.jpg") no-repeat center;
}

div[data-amplitude-song-index="2"] {
  background: url("../img/thumb-3.jpg") no-repeat center;
}

div#list div.song.amplitude-active-song-container {
  /*background-color: #30363e;*/
}

div#list div.song div.song-meta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div#list div.song div.song-meta-container span.song-name {
  font-size: 40px;
  font-family: var(--hahmlet);
  font-weight: 900;
  color: var(--font-white);
  opacity: 0.7;
  letter-spacing: 5px;
  display: block;
}

div#list div.song div.song-meta-container span.song-artist-album {

  font-size: 12px;
  line-height: 14px;
  color: #fff;
  letter-spacing: 0.47px;
  display: block;
}

div#list div.song span.song-duration {
  display: inline-block;
  opacity: 0.5;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  width: 35px;
  text-align: center;
}

div#list div.song span.song-artist-album {
  color: #5277b0;
}

/*Play Button*/

div#play-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3rem 70px;
  margin-top: 970px;
  box-sizing: border-box;
}

div#play-button-container #play-button {
  background: var(--overlay-bk);
  width: 100%;
  margin-top: 3vh;
  padding: 38px 0;
  border-radius: var(--border-radius--default);
  opacity: 0.7;
}

div#play-button-container span.song-name {}

div#play-button-container span {
  font-size: 40px;
  color: var(--font-white);
  opacity: 0.7;
}

div#play-button-container span:before {
  content: '';
  position: relative;
  display: inline-block;
  background-image: url("../img/headphone.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  margin-right: 20px;
  opacity: 0.7;
}

#play-button {
  background: transparent;
  margin: 0;
}
